@import '../../globals.css';

.timeline::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 4px;
    margin-left: -2px;
    /* background-color: red; */
    background-image: linear-gradient(to bottom, #B5C0D0 0, #B5C0D0 70%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 100% 30px;
}

.timeline-item::after {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    border: 4px solid var(--sub-theme);
    border-radius: 50%;
    background-color: white;
    z-index: 1;

}